@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .minibtn {
    @apply py-2 px-4 rounded-md inline-block text-center font-bold
  }
  .mainColor {
    @apply bg-slate-100
  }
  .Ltview {
    @apply mx-[25%] flex flex-col my-24
  }
  .accountView {
    @apply mx-[15%] flex flex-col my-24
  }
  .flash {
    @apply h-12
  }

}

.transisionAvatar {
  view-transition-name: userAvatar;
  contain: paint;
}

.transitionLT{
  view-transition-name: LT;
}

@keyframes slide-to-left {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes slide-from-right {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

::view-transition-old(LT) {
  animation-name: slide-to-left;
}

::view-transition-new(LT) {
  animation-name: slide-from-right;
}